<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpleeterToMultichannel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SpleeterToMultichannel.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Vocals" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VocalsLFE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BassLFE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drums" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DrumsLFE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Piano" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PianoLFE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherLFE" serializeAs="String">
                <value>False</value>
            </setting>
        </SpleeterToMultichannel.Properties.Settings>
    </userSettings>
</configuration>